AirportClientConsoleWCF/Connected Services/AirportServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CustomException" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CustomException" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConnectionNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionNotFoundFault" nillable="true" type="tns:ConnectionNotFoundFault" />
</xs:schema>