AirportClientConsoleWCF/Connected Services/AirportServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import schemaLocation="http://localhost:8000/AirportConsoleWCF/?xsd=xsd2" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="http://localhost:8000/AirportConsoleWCF/?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/AirportConsoleWCF/?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/AirportConsoleWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAirportService_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="IAirportService_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnection" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetAllConnections_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllConnections" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetAllConnections_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllConnectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetConnections_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnections" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetConnections_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAirportService">
    <wsdl:operation name="SayHello">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirportService/SayHello" message="tns:IAirportService_SayHello_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirportService/SayHelloResponse" message="tns:IAirportService_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnection">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirportService/GetConnection" message="tns:IAirportService_GetConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirportService/GetConnectionResponse" message="tns:IAirportService_GetConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllConnections">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirportService/GetAllConnections" message="tns:IAirportService_GetAllConnections_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirportService/GetAllConnectionsResponse" message="tns:IAirportService_GetAllConnections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnections">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirportService/GetConnections" message="tns:IAirportService_GetConnections_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirportService/GetConnectionsResponse" message="tns:IAirportService_GetConnections_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>