AirportClientConsoleWCF/Connected Services/AirportServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/AirportConsoleWCF/?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/AirportConsoleWCF" />
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AirportConsoleWCF" minOccurs="0" name="GetConnectionResult" nillable="true" type="q1:Connection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllConnections">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllConnectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AirportConsoleWCF" minOccurs="0" name="GetAllConnectionsResult" nillable="true" type="q2:ArrayOfConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationCity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AirportConsoleWCF" minOccurs="0" name="GetConnectionsResult" nillable="true" type="q3:ArrayOfConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>