AirportClientConsoleWCF/Connected Services/AirportServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AirportConsoleWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AirportConsoleWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/AirportConsoleWCF/?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Connection">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivalTime" type="ser:duration" />
      <xs:element minOccurs="0" name="DestinationCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Connection" nillable="true" type="tns:Connection" />
  <xs:complexType name="ArrayOfConnection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Connection" nillable="true" type="tns:Connection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConnection" nillable="true" type="tns:ArrayOfConnection" />
</xs:schema>